*.log
.DS_Store
Thumbs.db
/cache/*
/.idea/*
/config.php
/config_override.php
/tmp/
/upload/
/custom/screenshots/
/test_*.php
/custom/blowfish/*
/custom/history/*
/custom/modulebuilder/*
/custom/working/*
/custom/application/Ext/
/custom/modules/*/Ext/
/custom/modules/unified_search_modules_display.php
/modules/AOD_Index/Index/*
/.htaccess

